[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minigrid = "*"
numpy = "*"
cython = "*"
minari = {git = "https://github.com/Farama-Foundation/Minari.git"}
gymnasium = {ref = "spec_stack", git = "https://github.com/WillDudley/Gymnasium.git"}
gymnasium-robotics = "*"
huggingface = "*"
datasets = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.7"
