[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minigrid = "*"
numpy = "*"
cython = "*"
gymnasium = {ref = "spec_stack", git = "https://github.com/WillDudley/Gymnasium.git"}
gymnasium-robotics = "*"
huggingface = "*"
datasets = "*"
black = "*"
torch = "*"
scipy = "*"
tqdm = "*"
transformers = "*"
jsonc-parser = "*"

[dev-packages]

[requires]
python_version = "3.7"
